* {
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}

		#container {
			margin: 20px auto;
			width: 90%;
			max-width: 600px;
		}

		#question {
			margin-bottom: 20px;
		}

		h4 {
			font-size: 1.2em;
			margin-bottom: 10px;
		}

		.btn {
			margin-right: 10px;
			margin-bottom: 10px;
		}

		#quote {
			background-color: #f8fffe;
			padding: 15px;
			margin: 10px 0;
			border-left: 8px solid green;
			font-weight: bold;
			max-width: 600px;
		}

		#quote blockquote {
			margin: 0;
			font-size: 1em;
		}